<div class="header-area header-sticky">
  <div class="header-area__desktop">
    <div class="header-top-bar-area border-bottom">
      <div class="container-fluid container-fluid--cp-60">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="navigation-top--style3">
              <div class="navigation-top--style3__left">
                <ul class="topbar-info topbar-info--style3">
                  <li><a href="tel:018000515252"><i class="ion-ios-telephone"></i>Linea gratuita
                      nacional 018000515252</a></li>
                  <li><a href="mailto:info@ramedicas.com"><i class="ion-android-mail"></i>Email
                      info@ramedicas.com</a></li>
                </ul>
              </div>
              <div class="navigation-top--style3__right d-flex">
                <div class="social-links social-links--white-topbar d-inline-block mr-0">
                  <ul></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-navigation-area header-navigation-area--style2 position-relative">
      <div class="row no-gutters">
        <div class="col-lg-12 position-static">
          <div class="header-navigation-container">
            <div class="logo"><a href="inicio"><img src="assets/img/logo/logo-blue-dark.png"
                  class="img-fluid" alt="Ramédicas"></a></div>
            <div class="header-navigation-wrapper header-navigation-wrapper--style4">
              <div class="header-navigation-wrapper--style3__left">
                <div class="header-navigation__nav header-navigation__nav--style5 position-static">
                  <nav>
                    <ul>
                      <li class=" active "><a routerLink="/home" routerLinkActive="active" class="active"> Inicio</a>
                      </li>
                      <li class="  has-children has-children--multilevel-submenu"><a
                          href="javascript:void(0)" class="">Nosotros</a>
                        <ul class="submenu">
                          <li><a routerLink="/nosotros/quienes-somos" class="">Quienes
                              somos</a></li>
                          <li><a routerLink="/nosotros/valores-corporativos"
                              class="">Valores Corporativos</a></li>
                          <li><a routerLink="/nosotros/mision-y-vision" class="">Misión y
                              visión</a></li>
                          <li><a routerLink="/nosotros/politicas" class="">Políticas</a>
                          </li>
                          <li><a routerLink="/nosotros/certificaciones"
                              class="">Certificaciones</a></li>
                          <li><a routerLink="/nosotros/politica-de-tratamiento-de-datos"
                              class="">Política de tratamiento de datos</a></li>
                        </ul>
                      </li>
                      <li class="  has-children has-children--multilevel-submenu"><a
                          href="javascript:void(0)" class="">Unidades de negocio</a>
                        <ul class="submenu">
                          <li><a routerLink="/unidades-de-negocio/comercializacion"
                              class="">Comercialización</a></li>
                          <li><a routerLink="/unidades-de-negocio/hospitalaria"
                              class="">Hospitalaria</a></li>
                          <li><a routerLink="/unidades-de-negocio/dispensacion"
                              class="">Dispensación</a></li>
                        </ul>
                      </li>
                      <li class="  has-children has-children--multilevel-submenu"><a
                          href="javascript:void(0)" class="">Portafolio</a>
                        <ul class="submenu">
                          <li><a routerLink="/portafolio/lineas-de-productos"
                              class="">Lineas de productos</a></li>
                          <li><a routerLink="/portafolio/nuestros-proveedores"
                              class="">Nuestros proveedores</a></li>
                        </ul>
                      </li>
                      <li class="  has-children has-children--multilevel-submenu"><a
                          routerLink="/publicaciones" class="">Publicaciones</a>
                        <ul class="submenu">
                          <li><a routerLink="/publicaciones/regulatorios"
                              class="">Regulatorios</a></li>
                          <li><a routerLink="/publicaciones/actualidad"
                              class="">Actualidad</a></li>
                          <li><a routerLink="/publicaciones/novedades"
                              class="">Novedades</a></li>
                        </ul>
                      </li>
                      <li class="  has-children has-children--multilevel-submenu"><a
                          href="javascript:void(0)" class="">Contacto</a>
                        <ul class="submenu">
                          <li><a routerLink="/contacto/directorio" class="">Directorio</a>
                          </li>
                          <li><a routerLink="/contacto/trabaje-con-nosotros"
                              class="">Trabaje con nosotros</a></li>
                          <li><a href="https://pqrs.ramedicas.com/" target="_blank" class="">PQRS</a></li>
                          <li><a href="https://devo-client.ramedicas.com/auth" target="_blank" class="">Plataforma
                              Clientes</a></li><li><a href="https://convocatorias.ramedicas.com/#/auth" target="_blank" class="">Convocatorias</a></li>
                          <li><a routerLink="/contacto" class="">Escríbenos</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="header-navigation-wrapper--style3__right">
                <div class="header-search--style4">
                  <div class="header-navigation__icon__search"><a href="javascript:void(0)"
                      id="search-overlay-trigger"><i class="ion-ios-search-strong"></i></a>
                  </div>
                </div>
                <div class="get-quote-button-wrapper"><a routerLink="/contacto">ESCRÍBANOS</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-area__mobile">
    <div class="mobile-menu-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 col-sm-6 col-9">
            <div class="logo"><a href="inicio"><img src="assets/img/logo/logo-blue-dark.png"
                  class="img-fluid" alt="Ramédicas"></a></div>
          </div>
          <div class="col-md-8 col-sm-6 col-3">
            <div class="mobile-menu-content">
              <div class="social-links">
                <ul></ul>
              </div>
              <div class="mobile-navigation-icon" id="mobile-menu-trigger"><i></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
