<div class="industry-flip-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="industry-flip-wrapper section-space--inner--120 border-top"
          style="border-top:1px solid #ff8001!important;">
          <div class="row">
            <div class="col-lg-4">
              <div class="single-industry-flip-wrap">
                <div class="single-industry-flip-inner">
                  <div class="single-industry-flip-front bg-img"
                    data-bg="../../../assets/images/imagen-destacado1-ramedicas.jpg">
                    <div class="single-industry-flip-front__content">
                      <h4 class="title">PROVEEDORES</h4>
                    </div>
                  </div>
                  <div class="single-industry-flip-back bg-img"
                    data-bg="../../../assets/images/imagen-destacado1-ramedicas.jpg">
                    <div class="single-industry-flip-back__content">
                      <p class="text">Contamos con 130 proveedores activos, de medicamentos
                        para uso humano, certificados para poder ofrecer a nuestros clientes
                        un amplio portafolio de productos de alta calidad.</p><a href="index-3.htm"
                        class="career-btn career-btn--style2">PROVEEDORES</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-industry-flip-wrap">
                <div class="single-industry-flip-inner">
                  <div class="single-industry-flip-front bg-img"
                    data-bg="../../../assets/images/imagen-destacado2-ramedicas.jpg">
                    <div class="single-industry-flip-front__content">
                      <h4 class="title">DEVOLUCIONES</h4>
                    </div>
                  </div>
                  <div class="single-industry-flip-back bg-img"
                    data-bg="../../../assets/images/imagen-destacado2-ramedicas.jpg">
                    <div class="single-industry-flip-back__content">
                      <p class="text"></p><a href="index-4.htm" class="career-btn career-btn--style2">DEVOLUCIONES</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-industry-flip-wrap">
                <div class="single-industry-flip-inner">
                  <div class="single-industry-flip-front bg-img"
                    data-bg="../../../assets/images/imagen-destacado3-ramedicas.jpg">
                    <div class="single-industry-flip-front__content">
                      <h4 class="title">PAGOS EN LÍNEA</h4>
                    </div>
                  </div>
                  <div class="single-industry-flip-back bg-img"
                    data-bg="../../../assets/images/imagen-destacado3-ramedicas.jpg">
                    <div class="single-industry-flip-back__content">
                      <p class="text"></p><a href="javascript:showModal();" class="career-btn career-btn--style2">PAGOS
                        EN LÍNEA</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
