<div class="industry-slider-area section-space--inner--120 filtro-sombra">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div
          class="section-title-area section-title-area--middle section-title-area--middle--style2 section-space--bottom--50">
          <h4 class="subtitle">NUESTROS SERVICIOS</h4>
          <h3 class="text-center">Comercialización, distribución y dispensación de productos farmacéuticos
          </h3>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="industry-two-slider">
          <div class="swiper-container industry-two-slider__container">
            <div class="swiper-wrapper industry-two-slider__wrapper">
              <div class="swiper-slide">
                <div class="industry-two-slider__single-item">
                  <div class="industry-two-slider__single-item__image"><a
                    routerLink="/unidades-de-negocio/comercializacion"><img
                        src="../../../assets/fotospages/thu_comercializacion_1572550762.jpg" class="img-fluid"
                        alt="Comercialización"></a></div>
                  <div class="industry-two-slider__single-item__content">
                    <h3 class="title"><a routerLink="/unidades-de-negocio/comercializacion">Comercialización</a>
                    </h3>
                    <p class="subtitle"> Contamos con un amplio portafolio de productos
                      farmacéuticos de laboratorios reconocidos, para ...</p><a
                      routerLink="/unidades-de-negocio/comercializacion" class="see-more-link see-more-link--dark">SABER
                      MÁS <i class="ion-arrow-right-c"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="industry-two-slider__single-item">
                  <div class="industry-two-slider__single-item__image"><a
                    routerLink="/unidades-de-negocio/hospitalaria"><img
                        src="../../../assets/fotospages/thu_hospitalaria_1572553256.jpg" class="img-fluid"
                        alt="Hospitalaria"></a></div>
                  <div class="industry-two-slider__single-item__content">
                    <h3 class="title"><a routerLink="/unidades-de-negocio/hospitalaria">Hospitalaria</a></h3>
                    <p class="subtitle"> COBERTURA: RAMEDICAS Operador Logístico Farmacéutico,
                      cuenta con un amplio portafolio de ...</p><a routerLink="/unidades-de-negocio/hospitalaria"
                      class="see-more-link see-more-link--dark">SABER MÁS <i class="ion-arrow-right-c"></i></a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="industry-two-slider__single-item">
                  <div class="industry-two-slider__single-item__image"><a
                    routerLink="/unidades-de-negocio/dispensacion"><img
                        src="../../../assets/fotospages/thu_dispensacion_1572553334.jpg" class="img-fluid"
                        alt="Dispensación"></a></div>
                  <div class="industry-two-slider__single-item__content">
                    <h3 class="title"><a routerLink="/unidades-de-negocio/dispensacion">Dispensación</a></h3>
                    <p class="subtitle"> RAMEDICAS Operador Logístico Farmacéutico, ofrece el
                      servicio de dispensación de medicamentos a ...</p><a routerLink="/unidades-de-negocio/dispensacion"
                      class="see-more-link see-more-link--dark">SABER MÁS <i class="ion-arrow-right-c"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ht-swiper-button-prev ht-swiper-button-prev-4 ht-swiper-button-nav d-none d-lg-block"><i
            class="ion-ios-arrow-left"></i></div>
            <div class="ht-swiper-button-next ht-swiper-button-next-4 ht-swiper-button-nav d-none d-lg-block" tabindex="0"
            role="button" aria-label="Next slide"><i class="ion-ios-arrow-forward"></i></div>
      </div>
    </div>
  </div>
</div>
<style>
  .ht-swiper-button-nav {
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s linear 2s, opacity 0.3s linear 2s;
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s linear 2s, opacity 0.3s linear 2s;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.3s linear 2s, opacity 0.3s linear 2s;
    background-image: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #222;
    border: 2px solid rgba(34, 34, 34, 0.16);
    border-radius: 100%;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 1%);
    box-shadow: 0 0 5px rgb(0 0 0 / 1%);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
  }
</style>
