<div class="cta-video-area section-space--inner--120" style="background-color:#ececec;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="cta-video-content">
          <div class="section-title-area--style2">
            <h4 class="subtitle">ALGO SOBRE NOSOTROS</h4>
            <h2 class="title--left">RAMÉDICAS Operador Logístico Farmacéutico</h2><br>
            <p style="text-align:justify;">Es una empresa líder en el mercado nacional, aportando
              soluciones logísticas para la industria farmacéutica. Fue constituida en el año de 1993,
              en la ciudad de Bucaramanga.</p>
            <p style="text-align:justify;">Inició sus operaciones atendiendo el mercado regional y con
              su experiencia y solidez fue expandiéndose para atender las necesidades del sector a
              nivel nacional, gracias a sus buenas prácticas, excelente servicio al cliente y precios
              altamente Competitivos.</p><br><a routerLink="/nosotros/quienes-somos"
              class="ht-btn ht-btn--default">Saber más</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cta-video-image">
          <div class="video-popup"><a href="https://www.youtube.com/watch?v=SBVJjMbJ_MA&feature=youtu.be">
              <div class="cta-video-image__image"><img src="../../../assets/images/bg/editorial-ramedicas.jpg"
                  class="img-fluid" alt="ALGO SOBRE NOSOTROS"></div>
              <div class="cta-video-image__icon"><i class="ion-ios-play"></i></div>
            </a></div>
          <div class="cta-video-image__video-mark">
            <div class="wave-pulse wave-pulse-1"></div>
            <div class="wave-pulse wave-pulse-2"></div>
            <div class="wave-pulse wave-pulse-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

section-title-area--style2 .subtitle {
	display: inline-block;
	overflow: hidden;
	color: #999;
	font-size: 0.875rem;
	position: relative;
	padding-bottom: 10px;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section-title-area--style2 .subtitle:before {
	content: '';
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #0266A4;
	position: absolute;
	right: calc(100% + 20px);
	bottom: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section-title-area--style2 .subtitle:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 2px;
	background-color: #0266A4;
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section-title-area--style2 .subtitle:hover:before {
	right: 0;
}

.section-title-area--style2 .subtitle:hover:after {
	left: calc(100% + 20px);
}

.section-title-area--style2 .title {
	padding-bottom: 0;
}

.section-title-area--style2 .title:after {
	display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cta-video-content {
	margin-bottom: 40px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
  .section-space--inner--120 {
    padding-top: 120px;
    padding-bottom: 120px;
}
</style>
