<div class="blog-grid-area blog-grid-area-bg section-space--inner--120 grey-bg bg-img filtro-sombra"
  data-bg="../../../assets/img/patterns/5.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-area text-center section-space--bottom--80">
          <h2 class="title title--style8">Publicaciones Recientes</h2>
          <h4 class="subtitle subtitle--style3">Nuestro Blog</h4>
        </div>
        <div class="blog-post-two__container-area">
          <div class="swiper-container blog-post-two__container">
            <div class="swiper-wrapper blog-post-two__wrapper">
              <div class="swiper-slide blog-post-two__single-slide">
                <div
                  class="blog-post-slider__single-slide blog-post-slider__single-slide--grid-view blog-post-slider__single-slide--grid-view--style3">
                  <div class="blog-post-slider__image"><a
                      routerLink="publicaciones/novedades/sello-de-calidad-certificado-empresa-biosegura-colombia"><img
                        src="../../../assets/fotosnoticias/thu_sello_de_calidad_certificado_empresa_biosegura_colombia_1611601998.png"
                        class="img-fluid" alt="SELLO DE CALIDAD “CERTIFICADO EMPRESA BIOSEGURA COLOMBIA”"></a>
                  </div>
                  <div class="blog-post-slider__content blog-post-slider__content--style2">
                    <div class="post-meta">
                      <p class="post-date">Enero 25, 2021</p>
                      <div class="post-category"><a routerLink="/publicaciones/novedades">Novedades</a></div>
                    </div>
                    <h3 class="post-title post-title--black3"><a
                        routerLink="publicaciones/novedades/sello-de-calidad-certificado-empresa-biosegura-colombia">SELLO
                        DE CALIDAD “CERTIFICADO EMPRESA BIOSEGURA COLOMBIA”</a></h3>
                    <p class="post-excerpt">El Ministerio de Comercio, Industria y Turismo
                      mediante la resolución 1288 de 2020 crea el sello de calidad
                      "Certificado Empresa Biosegura Colombia" y su versión en inglés “Biosafe
                      Company Certifícate Colombia", como una herramienta informativa y
                      comercial para diferenciar aquellos sectores de la economía, que
                      ofrezcan condiciones de bioseguridad</p>
                  </div><a routerLink="publicaciones/novedades/sello-de-calidad-certificado-empresa-biosegura-colombia"
                    class="blog-readmore-button--icon"><i class="ion-arrow-right-c"></i></a>
                </div>
              </div>
              <div class="swiper-slide blog-post-two__single-slide">
                <div
                  class="blog-post-slider__single-slide blog-post-slider__single-slide--grid-view blog-post-slider__single-slide--grid-view--style3">
                  <div class="blog-post-slider__image"><a
                      href="publicaciones/novedades/comunicado-fin-de-ano-2020.html"><img class="img-fluid"
                        alt="COMUNICADO FIN DE AÑO 2020"></a></div>
                  <div class="blog-post-slider__content blog-post-slider__content--style2">
                    <div class="post-meta">
                      <p class="post-date">Diciembre 04, 2020</p>
                      <div class="post-category"><a routerLink="/publicaciones/novedades">Novedades</a></div>
                    </div>
                    <h3 class="post-title post-title--black3"><a
                        href="publicaciones/novedades/comunicado-fin-de-ano-2020.html">COMUNICADO
                        FIN DE AÑO 2020</a></h3>
                    <p class="post-excerpt"></p>
                  </div><a href="publicaciones/novedades/comunicado-fin-de-ano-2020.html"
                    class="blog-readmore-button--icon"><i class="ion-arrow-right-c"></i></a>
                </div>
              </div>
              <div class="swiper-slide blog-post-two__single-slide">
                <div
                  class="blog-post-slider__single-slide blog-post-slider__single-slide--grid-view blog-post-slider__single-slide--grid-view--style3">
                  <div class="blog-post-slider__image"><a
                      href="publicaciones/novedades/retiro-del-mercado-de-producto-oxitocina-10-uiml-solucion-inyectable-fresenius-kabi-colombia-sas.html"><img
                        class="img-fluid"
                        alt="Retiro del mercado de producto Oxitocina 10 UI/ml Solución Inyectable. Fresenius Kabi Colombia S.A.S"></a>
                  </div>
                  <div class="blog-post-slider__content blog-post-slider__content--style2">
                    <div class="post-meta">
                      <p class="post-date">Diciembre 04, 2020</p>
                      <div class="post-category"><a routerLink="/publicaciones/novedades">Novedades</a></div>
                    </div>
                    <h3 class="post-title post-title--black3"><a
                        href="publicaciones/novedades/retiro-del-mercado-de-producto-oxitocina-10-uiml-solucion-inyectable-fresenius-kabi-colombia-sas.html">Retiro
                        del mercado de producto Oxitocina 10 UI/ml Solución Inyectable.
                        Fresenius Kabi Colombia S.A.S</a></h3>
                    <p class="post-excerpt"></p>
                  </div><a
                    href="publicaciones/novedades/retiro-del-mercado-de-producto-oxitocina-10-uiml-solucion-inyectable-fresenius-kabi-colombia-sas.html"
                    class="blog-readmore-button--icon"><i class="ion-arrow-right-c"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
