<app-header></app-header>

<div class="breadcrumb-area breadcrumb-area-bg bg-img section-space--inner--bottom--50 section-space--inner--top--120"
		data-bg="fotossecciones/slide_ramedicas_1565823095.jpg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<h2 class="breadcrumb-page-title breadcrumb-page-title--style2">Nosotros</h2>
				</div>
				<div class="col-lg-12">
					<ul class="breadcrumb-page-list breadcrumb-page-list--style2 text-uppercase">
						<li class="has-children"><a href="inicio.html">Inicio</a></li>
						<li><a href="nosotros.html">Nosotros</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content-wrapper section-space--inner--120"
		style="-moz-box-shadow:    inset  0  8px 8px -8px #696868,                             inset  0 -8px 8px -8px #696868;         -webkit-box-shadow: inset  0  8px 8px -8px #696868,                             inset  0 -8px 8px -8px #696868;          box-shadow:        inset  0  8px 8px -8px #696868,                             inset  0 -8px 8px -8px #696868;">
		<div class="container">
			<div class="service-details-image-desc section-space--bottom--120">
				<div class="service-details-image-desc__wrapper">
					<div class="service-details-image-desc__single">
						<div class="row row-35 align-items-center">
							<div class="col-lg-4 col-md-5">
								<div class="image"><img src="fotospages/thu_quienes_somos_1570549616.jpg"
										class="img-fluid" alt="Quienes somos"></div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="content">
									<div class="service-details-text-wrapper"><a href="nosotros/quienes-somos.html">
											<h2 class="title">Quienes somos</h2>
										</a>
										<p> RAMEDICAS Operador Logístico Farmacéutico, es una empresa líder en el
											mercado nacional, aportando soluciones logísticas para la industria
											farmacéutica. Fue constituida en el año de 1993, en la ciudad de
											Bucaramanga. Inició sus operaciones atendiendo el mercado regional y con su
											experiencia ...</p><a href="nosotros/quienes-somos.html"> Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="service-details-image-desc__single">
						<div class="row row-35 align-items-center">
							<div class="col-lg-4 col-md-5"></div>
							<div class="col-lg-8 col-md-7">
								<div class="content">
									<div class="service-details-text-wrapper"><a
											href="nosotros/valores-corporativos.html">
											<h2 class="title">Valores Corporativos</h2>
										</a>
										<p> Integridad Actuamos dentro de los más rigurosos principios éticos, de manera
											honesta y transparente, dentro del marco de la ley, para construir
											relaciones empresariales de respeto y confianza. ...</p><a
											href="nosotros/valores-corporativos.html"> Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="service-details-image-desc__single">
						<div class="row row-35 align-items-center">
							<div class="col-lg-4 col-md-5">
								<div class="image"><img src="fotospages/thu_mision_y_vision_1565966291.jpg"
										class="img-fluid" alt="Misión y visión"></div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="content">
									<div class="service-details-text-wrapper"><a href="nosotros/mision-y-vision.html">
											<h2 class="title">Misión y visión</h2>
										</a>
										<p> MISIÓN RAMEDICAS Operador Logístico Farmacéutico, como empresa dedicada a la
											gestión y operación logística farmacéutica, provee las mejores soluciones en
											la cadena de abastecimiento del servicio farmacéutico, trabaja para
											garantizar la prestación del servicio con oportunidad, calidad y ...</p><a
											href="nosotros/mision-y-vision.html"> Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="service-details-image-desc__single">
						<div class="row row-35 align-items-center">
							<div class="col-lg-4 col-md-5">
								<div class="image"><img src="fotospages/thu_politicas_1568037067.jpg" class="img-fluid"
										alt="Políticas"></div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="content">
									<div class="service-details-text-wrapper"><a href="nosotros/politicas.html">
											<h2 class="title">Políticas</h2>
										</a>
										<p> POLITICA DEL SISTEMA INTEGRADO DE GESTIÓN RAMEDICAS Operador Logístico
											Farmacéutico, organización dedicada a la comercialización, distribución y
											dispensación de productos farmacéuticos de uso humano, está comprometida
											con: La satisfacción de las necesidades de nuestros clientes y ...</p><a
											href="nosotros/politicas.html"> Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="service-details-image-desc__single">
						<div class="row row-35 align-items-center">
							<div class="col-lg-4 col-md-5"></div>
							<div class="col-lg-8 col-md-7">
								<div class="content">
									<div class="service-details-text-wrapper"><a href="nosotros/certificaciones.html">
											<h2 class="title">Certificaciones</h2>
										</a>
										<p> Certificación ISO 45001:2018 Luego de implementar el Sistema de Gestión de
											Seguridad y Salud en el Trabajo (SG-SST) , el ICONTEC valida la adecuación y
											conveniencia de la gestión que realizamos con nuestros procesos mediante
											auditoría realizada en el mes de Mayo de 2019 y otorga la ...</p><a
											href="nosotros/certificaciones.html"> Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="service-details-image-desc__single">
						<div class="row row-35 align-items-center">
							<div class="col-lg-4 col-md-5">
								<div class="image"><img
										src="fotospages/thu_politica_de_tratamiento_de_datos_1569532552.jpg"
										class="img-fluid" alt="Política de tratamiento de datos"></div>
							</div>
							<div class="col-lg-8 col-md-7">
								<div class="content">
									<div class="service-details-text-wrapper"><a
											href="nosotros/politica-de-tratamiento-de-datos.html">
											<h2 class="title">Política de tratamiento de datos</h2>
										</a>
										<p> La presente Política de Tratamiento de la Información Personal es el
											documento exigido por la Ley donde se establecen las directrices adoptadas
											por RAMEDICAS S.A.S para realizar tratamiento de datos personales en
											concordancia con las disposiciones normativas que rigen la materia y en
											respeto de la ...</p><a
											href="nosotros/politica-de-tratamiento-de-datos.html"> Leer más</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<app-nproveedores></app-nproveedores>
  <app-footer></app-footer>
